@import 'global';

.accueil {
    background-image: linear-gradient(transparentize($noir, 0.6), transparentize($noir, 0.6)), url('../../medias/images/voiture.jpeg');
    section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        min-height: 100vh;
        h1 {
            color: $blanc;
        }
    }
}