@import 'global';

.texteSection #basPage .combat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    color: $blanc;
    .des-conteneur {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &.conteneur-centre {
            width: 100%;
        }
    }
    .personnage {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    img {
        width: 100%;
        max-width: 200px;
        height: 200px;
        object-fit: contain;
    }
    p {
        margin: 0;
        text-align: center;
        &.nom, .force-attaque {
            font-weight: bold;
        }
        &.nom {
            text-transform: capitalize;
        }
    }
}