@import 'global';

.competence-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $blanc;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 360px;
        background-color: transparentize($noir, 0.5);   
        z-index: -1; 
        transition: .4s ease-in-out
    }
    .nom, .valeur {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease-in-out;
    }
    .valeur {
        opacity: 1;
        font-size: 26px;
    }
    .nom {
        font-size: 11px;
        opacity: 0;
    }
    &:hover {
        .valeur {
            opacity: 0;
        }
        .nom {
            opacity: 1;
        }
        &::before {
            background-color: transparentize($noir, 0.6);   
        } 
    }
    .icone-svg {
        position: relative;
        height: 80px;
        width: 80px;
        aspect-ratio: 1;
        padding: 10px;
        border: solid 2px $blanc;
        border-radius: 360px;
        background-color: $couleur_primaire;
        z-index: -2;
        path {
            fill: $blanc;
        }
    }
}