@import 'global';

.competence {
    display: flex;
    flex-direction: column;
    width: 25%;
    @include max767 {
        width: calc(50% - 15px);
    }
    @include max479 {
        width: calc(50% - 10px);
    }
    .nom {
        text-align: center;
        color: $blanc;
        font-weight: 600;
    }
    .icone-svg {
        flex-grow: 1;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px;
        margin-top: 15px;
        fill: $blanc;
        background-color: $couleur_primaire;
        object-fit: contain;
        path {
            fill: inherit;
        }
    }
    .conteneur-boutons {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0;
        background-color: $blanc;
        button, span {
            width: calc(100% / 3);
            margin: 0;
            padding: 10px;
            text-align: center;
            border: none;
            background-color: transparent;
        }
        button {
            cursor: pointer;
        }
    }
}