@import 'global';

h1 {
    padding: 15px;
    font-size: 40px;
    text-align: center;
    @include max767 {
        font-size: 28px;
    }
    @include max479 {
        font-size: 25px;
    }
    span {
        display: block;
        margin-top: 10px;
        font-size: 28px;
        font-family: inherit;
        font-weight: inherit;
        @include max767 {
            font-size: 24px;
        }
        @include max479 {
            font-size: 22px;
        }
    }
}