@import 'global';

.panneau-gauche {
    color: #F5F5F5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 10%; // 10% de la largeur de l'écran
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .image-personnage {
      width: 80px; // Ajustez la taille de l'image selon vos besoins
      height: auto;
      margin-top: 20px;
    }
  
    .statistique {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &-label {
        font-weight: bold;
      }
  
      &-valeur {
        margin-top: 5px;
      }
    }
  
    .inventaire {
      margin-top: auto;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &-label {
        font-weight: bold;
      }
  
      .liste-inventaire {
        list-style-type: none;
        padding: 0;
  
        li {
          margin-top: 5px;
          text-align: center;
          text-decoration: underline;
          cursor: pointer;
          padding: 0.2em 0.5em 0.2em 0.5em;
          border-radius: 5px;
        }

        li:hover {
          background-color: grey;
        }
      }
    }
  }