@import './global.scss';

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    padding: 20px 20px 40px 20px ;
    background-image: linear-gradient(transparentize($noir, 0.5), transparentize($noir, 0.5)), url("../../medias/images/personnage-station-essence.jpeg");
    .competences-infos {
        display: flex;
        gap: 20px;
    }
    .inventaire {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: 150px;
        img {
            width: inherit;
            object-fit: contain;
            cursor: pointer;
        }
    }
}