@import 'global';

.texteSection {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    color: $blanc;
    >.bouton {
        height: fit-content;
        position: fixed;
        right: 15px;
        border-color: $couleur_primaire;
        top: 15px;
    }
    #basPage {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        .texte {
            display: block;
            width: inherit;
            height: 220px;
            overflow-y: auto;
            padding: 20px;
            border-radius: 20px;
            color: $noir;
            background-color: #dfdfdfca;
            text-align: justify;
            font-size: 15px;
            scrollbar-color: $couleur_primaire $blanc;
            @include max767 {
                font-size: 13px;
            }
            @include max479 {
                font-size: 12px;
            }
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .finDeSection {
            flex-direction: column;
        }

        article {
            width: auto;
            
            button {
                width: 100%;
            }

            #somme {
                display: none;
            }
        }
    }

    .formulaire {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;

        #basPage{
            input {
                width: 100%;
                text-align: center;
                background-color: transparent;
                border-bottom: 2px solid #cccccc;
                padding: 10px 5px;
                transition: 0.4s ease-in-out;
                &::placeholder {
                    transition: 0.4s ease-in-out;
                }
                &:focus {
                    color: $couleur_primaire;
                    border-bottom-color: $couleur_primaire;
                    ::placeholder {
                        color: $couleur_primaire;
                    }
                }
            }
            .button {
                border: 0;
                transition: 0.5s;
                min-width: 15rem;
                padding: 1rem 2rem;
                font-size: 0.875rem;
                line-height: 1;
                font-weight: 500;
                cursor: pointer;
                text-decoration: none;
                text-transform: uppercase;
                background: $couleur_primaire;
                color: #fff;
            }
            .button.--border {
                border: 2px solid transparent;
            }
            .button.--border:hover {
                border-color: $couleur_primaire;
                color: $couleur_primaire;
                background: transparent;
            }
        }
    }
}