@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat.ttf") format("truetype");
}
@font-face {
  font-family: "RussoOne";
  src: url("../fonts/russoOne.ttf") format("truetype");
}
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #bf754b;
  z-index: 1000;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #bf754b;
  transform-origin: top;
}

.texteSection #basPage .combat {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
}
.texteSection #basPage .combat .des-conteneur {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.texteSection #basPage .combat .des-conteneur.conteneur-centre {
  width: 100%;
}
.texteSection #basPage .combat .personnage {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.texteSection #basPage .combat img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: contain;
}
.texteSection #basPage .combat p {
  margin: 0;
  text-align: center;
}
.texteSection #basPage .combat p.nom, .texteSection #basPage .combat p .force-attaque {
  font-weight: bold;
}
.texteSection #basPage .combat p.nom {
  text-transform: capitalize;
}