@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat.ttf") format("truetype");
}
@font-face {
  font-family: "RussoOne";
  src: url("../fonts/russoOne.ttf") format("truetype");
}
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #bf754b;
  z-index: 1000;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #bf754b;
  transform-origin: top;
}

h2 {
  font-size: 30px;
  padding: 15px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  h2 {
    font-size: 20px;
  }
}
h2 span {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  font-family: inherit;
}
@media (max-width: 767px) {
  h2 span {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  h2 span {
    font-size: 17px;
  }
}