.popupInfo {
  display: none !important;
  position: fixed;
  width: 200px;
  transform: translateX(-50%);
  background-color: #41cf0d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.popupInventaire {
  bottom: 20px;
  left: 270px;
}

.popupHabilete {
  top: 160px;
  left: 270px;
}

.popupEndurance {
  top: 225px;
  left: 270px;
}

.popupChance {
  top: 290px;
  left: 270px;
}

.popupPerception {
  top: 350px;
  left: 270px;
}

.show {
  display: block !important;
}