@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat.ttf") format("truetype");
}
@font-face {
  font-family: "RussoOne";
  src: url("../fonts/russoOne.ttf") format("truetype");
}
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #bf754b;
  z-index: 1000;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #bf754b;
  transform-origin: top;
}

.texteSection {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
.texteSection > .bouton {
  height: fit-content;
  position: fixed;
  right: 15px;
  border-color: #bf754b;
  top: 15px;
}
.texteSection #basPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}
.texteSection #basPage .texte {
  display: block;
  width: inherit;
  height: 220px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 20px;
  color: #000;
  background-color: rgba(223, 223, 223, 0.7921568627);
  text-align: justify;
  font-size: 15px;
  scrollbar-color: #bf754b #fff;
}
@media (max-width: 767px) {
  .texteSection #basPage .texte {
    font-size: 13px;
  }
}
@media (max-width: 479px) {
  .texteSection #basPage .texte {
    font-size: 12px;
  }
}
.texteSection #basPage div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.texteSection #basPage .finDeSection {
  flex-direction: column;
}
.texteSection #basPage article {
  width: auto;
}
.texteSection #basPage article button {
  width: 100%;
}
.texteSection #basPage article #somme {
  display: none;
}
.texteSection .formulaire {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.texteSection .formulaire #basPage input {
  width: 100%;
  text-align: center;
  background-color: transparent;
  border-bottom: 2px solid #cccccc;
  padding: 10px 5px;
  transition: 0.4s ease-in-out;
}
.texteSection .formulaire #basPage input::placeholder {
  transition: 0.4s ease-in-out;
}
.texteSection .formulaire #basPage input:focus {
  color: #bf754b;
  border-bottom-color: #bf754b;
}
.texteSection .formulaire #basPage input:focus ::placeholder {
  color: #bf754b;
}
.texteSection .formulaire #basPage .button {
  border: 0;
  transition: 0.5s;
  min-width: 15rem;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background: #bf754b;
  color: #fff;
}
.texteSection .formulaire #basPage .button.--border {
  border: 2px solid transparent;
}
.texteSection .formulaire #basPage .button.--border:hover {
  border-color: #bf754b;
  color: #bf754b;
  background: transparent;
}